


#
## SSH Connection Info
#

# Username for SSH connection

# Host IP for SSH connection
#
## Directories
#
# Location of binsync dir to sync (DO NOT put trailing /)
# Location of this repository

#
## SSH Connection Info
#

# Username for SSH connection

# Host IP for SSH connection
#
## Directories
#
# Location of binsync dir to sync (DO NOT put trailing /)
# Location of this repository

#
## SSH Connection Info
#

# Username for SSH connection

# Host IP for SSH connection
#
## Directories
#
# Location of binsync dir to sync (DO NOT put trailing /)
# Location of this repository
